<dev class="plandetail">
    <input type="date" name="spot_date">
    <div class="spot_time">
    <input type="time"><p>~</p><input type="time">
    </div>
    <input type="text" placeholder="タイトル">
    <input type="text" placeholder="内容">
    <div class="movement">
    <p>ここまでの移動</p>
    <input type="radio" name="movement">
    <input type="radio" name="movement">
    <input type="radio" name="movement">
    <input type="radio" name="movement">
    <input type="radio" name="movement">
    <input type="radio" name="movement">
    <input type="radio" name="movement">
    </div>
</dev>